	{% load static %}
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'portfolio:index' %}">Joyceeee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% ifequal request.path '/index2'%} active {% endifequal%}">
              <a class="nav-link" href="{% url 'portfolio:index2' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% ifequal request.path '/gallery'%} active {% endifequal%}">
              <a class="nav-link" href="{% url 'portfolio:gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="modal" data-target="#Modal" data-whatever="contact@getbootstrap.com">Contact Me</a>
            </li>

<!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
             -->
          </ul>
        </div>
      </nav>
    </header>