{% load static %}

aaaaa {{ def_1_val }}

<p>Date/Time:</p>
<p id="datetime"></p>
<hr>

{% for i in def_list %}

my list is :{{ i }} <br>

{% endfor %}


<hr>

<h2>p1</h2>
p1: {{ p1 }}<br>
name: {{ p1.name }}<br>
age: {{ p1.age }}<br>

<hr>
enter text <input type="text" id="myText" value="Some text...">
<button type="button" onclick="myFunction()">get data</button>
<ul id="orders">Will Append below this UL with li items</ul>


<div id="stockData">
    <span>
        Symbol
        <select name="symbol" id="symbol" >
          <option value="aapl">aapl</option>
          <option value="market">market</option>
          <option value=""></option>
          <option value=""></option>
        </select>
    </span>
    <span>
        outputType
        <select name="outputType" id="outputType">
            <option value="ohlc">ohlc</option>
            <option value="chart**1m">chart**1m</option>
        </select>
    </span>
</div>

<div id="appendStockData">
    aaaaaaaaaaaaa
</div>


<button type="button" onclick="myFunction2()">get data2</button>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<script src="{% static 'assets/js/gallery/ron.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>